.servicesSection {
  padding: 4rem 3rem 0;
  background: var(--foreground);
  position: relative;

  .tabsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0 3rem;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--black-color);
    width: 100%;
    position: relative;
    
    .centerTabs {
        display: flex;
        gap: 2rem;
    }
    
    .arrowWrapper {
        position: absolute;
        right: 0;
    }

    .tabItem {
      cursor: pointer;
      padding: 0.5rem 1rem;
      transition: color 0.3s;
      
      &.active {
        color: var(--black-color);
      }
    }

    .arrowButton {
        background-color: #D4D433;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        border: 1px solid #000;
        cursor: pointer;
        transition: transform 0.2s;
        
        &:hover {
            transform: scale(1.05);
        }
    }
  }

  .gridContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: .5rem;
    
    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    .card {
      position: relative;
      height: 450px;
      overflow: hidden;
      
      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease;
      }
      
      &:hover .image {
        transform: scale(1.05);
      }

      .cardLabel {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1.2rem 1.5rem;
        background: rgba(0, 0, 0, 0.8);
        color: var(--foreground);
        font-family: var(--font-sf);

        font-size: 1.3rem;
        font-weight: 500;
      }
    }
  }
}
