.milestonesSection {
  padding: 4rem 3rem 1rem;
  background-color: #fff;
  text-align: center;

  .imageWrapper {
    margin-top: 0rem;
    display: flex;
    justify-content: center;

    .milestoneImage {
      width: auto;
      height: 430px;
      object-fit: contain;
    }
  }

  @media (max-width: 768px) {
    padding: 1rem 2.5rem 0.5rem;

    .imageWrapper {
      .milestoneImage {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
}