// @use '../../app/globals.scss' as *;

.endToEndSection {
  padding: 4rem 3rem;
  background-color: #fff;
  display: flex;
  justify-content: center;

  .container {
    max-width: 1200px;
    width: 100%;
    padding: 0 0rem 0 2rem;

    background-color: var(--grey-3-color);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);

    position: relative; // required for pseudo element
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      inset: 0;

      background-image: url('../../assets/images/EndToEnd/endBg.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      transform: scaleX(-1); // Flip right to left
      opacity: 0.05; // Reduce background opacity
      z-index: -1;
    }
  }

  .contentWrapper {
    display: flex;
    min-height: 500px;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .textContent {
      flex: 1;
      padding: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;

      @media (max-width: 768px) {
        padding: 2rem;
      }

      .heading {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 1rem;
        color: var(--black-color);
      }

      .subheading {
        font-size: 1.1rem;
        color: var(--black-color);
        margin-bottom: 2rem;
      }

      .bannerPlaceholder {
        .bannerPlaceholderImage {
          height: 60px;
          width: auto;
          object-fit: contain;
        }
      }
    }

    .imageContent {
      flex: 1.3;
      position: relative;
      min-height: 250px;

      margin-top: 4rem;

      .imageContentImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
        // border-radius: 10px;
      }
    }
  }
}