.transformingSection {
  padding: 4rem 3rem;
  background-color: #f9f9f9;

  .contentList {
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .item {
      padding-bottom: 2.5rem;

      display: flex;
      align-items: flex-start;
      gap: 2rem;

      border-bottom: 1px solid var(--border-color);

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
      }

      .imageWrapper {
        width: 240px;
        height: 220px;
        flex-shrink: 0;
        border-radius: 12px;
        overflow: hidden;

        @media (max-width: 768px) {
          width: 100%;
          height: 250px;
        }

        .itemImage {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.3s;

          &:hover {
            transform: scale(1.05);
          }
        }
      }

      .textContent {
        margin-top: 1.5rem;

        .category {
          display: block;
          font-size: 1.2rem;
          color: var(--grey-1-color);
          margin-bottom: 0.5rem;
          text-transform: capitalize;
        }

        .itemTitle {
          font-size: 1.5rem;
          font-weight: 400;
          color: var(--black-color);
          line-height: 1.4;

          max-width: 400px;
        }
      }
    }

    @media (max-width: 768px) {
      gap: 1rem;

      .item {
        padding-bottom: 1rem;
        gap: 1rem;

        .imageWrapper {
          width: 100%;
          height: 200px;
        }

        .textContent {
          margin: 0.25rem 0 0;

          .category {
            font-size: 1.2rem;
            margin-bottom: 0.25rem;
          }

          .itemTitle {
            font-size: 0.95rem;
            line-height: 1.25;

            max-width: 100%;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 1rem 2.5rem;
  }
}