@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

:root {
  --background: #1D1D1D;
  --foreground: #FFFFFF;
  --primary-yellow: #D6DE29;
  --primary-orange-hover: #e65100;
  --text-secondary: #F4F4F4;
  --text-third: #F4F4F4;
  --border-color: #1818181A;
  --grey-color: #E7E7E7;
  --black-color: #121212;
  --grey-1-color: #181818B2;
  --grey-2-color: #181818;
  --grey-3-color: #F5F5F5;
  --grey-4-color: #242424;
  --nav-bg: rgba(255, 255, 255, 0.8);
  --glass-border: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  // --background: #0a0a0a;
  --foreground: #ededed;
  --text-secondary: #a3a3a3;
  --nav-bg: rgba(10, 10, 10, 0.8);
  --glass-border: rgba(255, 255, 255, 0.1);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--background);
  // background: var(--foreground);
  font-family: var(--font-bdo);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s ease, color 0.3s ease;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  // max-width: 1200px;
  margin: 0 auto;
}
