// @use '../../app/globals.scss' as *;

.sectionHeader {
  width: 100%;
  padding: 1rem 0;

  &.center {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 0.75rem;
      color: var(--black-color);
    }

    p {
      font-size: 0.95rem;
      font-weight: 400;
      max-width: 550px;
      margin-bottom: 2rem;
      line-height: 1.5;
    }

    .actionButton {
      background-color: #D4D433; // Yellow
      border: 3px solid #000;
      border-radius: 5px;
      box-shadow: 4px 4px 0px #000;
      padding: 0.8rem 2rem;
      font-size: 1.2rem;
      font-weight: 500;
      cursor: pointer;
      transition: transform 0.2s, box-shadow 0.2s;

      &:hover {
        transform: translate(-2px, -2px);
        box-shadow: 6px 6px 0px #000;
      }

      &:active {
        transform: translate(0, 0);
        box-shadow: 2px 2px 0px #000;
      }
    }
  }

  &.side {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 2rem;
    }

    .titleWrapper {
      flex: 1.5;

      h2 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 0.75rem;
        color: var(--black-color);
      }
    }

    .contentWrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      p {
        font-size: 1rem;
        // color: var(--text-secondary);
        line-height: 1.6;
        margin-bottom: 1.5rem;
      }

      .actionLink {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: 600;
        color: var(--black-color);
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: 500;
        background: none;
        border: none;
        padding: 0;

        .iconBox {
          background-color: #D4D433;
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          border: 1px solid #000;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}