.craftedSection {
  padding: 4rem 3rem;
  background-color: #fff;

  .contentContainer {
    display: flex;
    margin-top: 4rem;
    gap: 4rem;
    min-height: 500px;
    
    @media (max-width: 768px) {
      flex-direction: column;
    }

    .listWrapper {
      flex: 1;
      display: flex;
      flex-direction: column;

      .listItem {
        padding: 2rem 0 2rem 3rem;
        border-bottom: 1px solid var(--border-color);
        cursor: pointer;
        transition: background-color 0.2s;

        &:first-child {
            border-top: 1px solid var(--border-color);
        }

        h3 {
          font-size: 1.75rem;
          font-weight: 500;
          margin-bottom: 0.9rem;
          color: var(--black-color);
        }

        p {
          font-size: .95rem;
          font-weight: 500;
          color: var(--grey-1-color);
          line-height: 1.25;
          max-width: 75%;
        }

        &:hover {
          background-color: var(--grey-3-color);

          h3 {
              color: var(--primary-orange);
          }
        }
      }
    }

    .imageWrapper {
      flex: 1;
      position: relative;
      // height: 500px; // Removed fixed height
      overflow: hidden;
      border-radius: 8px;

      .displayImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 0.5s ease;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}
