.craftedSection {
  padding: 4rem 3rem;
  background-color: #fff;

  .contentContainer {
    display: flex;
    margin-top: 4rem;
    gap: 4rem;
    min-height: 500px;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .listWrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100%;

      .listItemWrap {
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--border-color);
        cursor: pointer;

        .listItem {
          padding: 2rem 0 2rem 3rem;
          transition: background-color 0.2s;
          display: flex;
          flex-direction: column;
          justify-content: center;

          h3 {
            font-size: 1.75rem;
            font-weight: 500;
            margin-bottom: 0.9rem;
            color: var(--black-color);
          }

          p {
            font-size: .95rem;
            font-weight: 500;
            color: var(--grey-1-color);
            line-height: 1.25;
            max-width: 75%;
          }

          &:hover {
            background-color: var(--grey-3-color);

            h3 {
              color: var(--primary-orange);
            }
          }
        }

        .imageWrapper {
          width: 25%;
          position: relative;
          border-radius: 8px;
          opacity: 0;
          transition: all 0.7s ease-in-out;

          .displayImage {
            width: 100%;
            height: 180px;
            object-fit: cover;
          }

          @media (max-width: 768px) {
            opacity: 1;
          }
        }

        &:hover {
          .imageWrapper {
            opacity: 1;
          }
        }

        &:first-child {
          border-top: 1px solid var(--border-color);
        }

        @media (max-width: 768px) {
          flex-direction: column;
          gap: 0.5rem;

          .listItem {
            padding: 1rem 0;

            h3 {
              font-size: 1.5rem;
              margin-bottom: 0.2rem;
            }

            p {
              font-size: .85rem;
            }
          }

          .imageWrapper {
            width: 100%;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 1rem 2rem;
  }
}